<div class="start__section">
  <div class="start__section-container">
    <div class="start__section-info">
      <div class="info_title">
        <h4>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque.
        </h4>
      </div>
      <div class="info_text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, maiores!
        </p>
      </div>
      <div class="info_btns">
        <button mat-stroked-button color="primary">Pick Me</button>
        <button mat-stroked-button color="primary">Click Me</button>
      </div>
    </div>
    <div class="start__section-image">
      <img
        class="start__sectionImg"
        src="../../../../assets/authPictures/0_light.21b852f7.png"
      />
    </div>
  </div>
</div>
