<div class="benefits__section">
  <div class="benefits__section-container">
    <div class="benefits__section-title">
      <h2>Main Benefits</h2>
    </div>
    <div class="benefits__section-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos debitis
      voluptate doloremque alias quas iusto minus praesentium atque possimus
      expedita. Blanditiis, iusto quisquam. Expedita fugit voluptas perferendis
      harum?
    </div>
    <div class="benefits__section-selection">
      <mat-button-toggle-group name="double_selection" aria-label="Selection">
        <mat-button-toggle value="companies">Features</mat-button-toggle>
        <mat-button-toggle value="experience">Benefites</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="benefits__section-content">
      <div class="content_item">
        <div class="content_item-text">
          <div class="text_title">
            <h5>West side</h5>
          </div>
          <p class="text_content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
            aut aliquid, dicta at blanditiis voluptas molestiae quidem error eos
            ullam sapiente optio fugit unde enim alias.
          </p>
        </div>
        <div class="content_item-image">
          <img
            class="itemImg"
            src="../../../../assets/placeholder/clouds.jpg"
          />
        </div>
      </div>
      <div class="content_item">
        <div class="content_item-text">
          <div class="text_title">
            <h5>West side</h5>
          </div>
          <p class="text_content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
            aut aliquid, dicta at blanditiis voluptas molestiae quidem error eos
            ullam sapiente optio fugit unde enim alias.
          </p>
        </div>
        <div class="content_item-image">
          <img
            class="itemImg"
            src="../../../../assets/placeholder/clouds.jpg"
          />
        </div>
      </div>
      <div class="content_item">
        <div class="content_item-text">
          <div class="text_title">
            <h5>West side</h5>
          </div>
          <p class="text_content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
            aut aliquid, dicta at blanditiis voluptas molestiae quidem error eos
            ullam sapiente optio fugit unde enim alias.
          </p>
        </div>
        <div class="content_item-image">
          <img
            class="itemImg"
            src="../../../../assets/placeholder/clouds.jpg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
