<div class="aboutus__section">
  <div class="aboutus__section-container">
    <div class="aboutus__section-title">
      <h2>Who are we?</h2>
    </div>
    <div class="aboutus__section-content">
      <div class="content_image">
        <img
          class="contentImg"
          src="../../../../assets/authPictures/1_light.5702f615.png"
        />
      </div>
      <div class="content_text">
        <div class="content_text-title">
          <h5>Lorem ipsum dolor sit amet.</h5>
        </div>
        <div class="content_text-text">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            unde dicta facere suscipit nemo qui eum tempore debitis, cum
            reprehenderit. Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Suscipit, tempore. Minus aperiam iusto corporis fuga labore
            quo, nostrum distinctio accusantium.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
