<div class="main__footer">
  <div class="main__footer-container">
    <div class="main__footer-logo">
      <a href="/">
        <div class="logo-wrapper">
          <div>
            <img
              class="footer-logoImg"
              src="../../../../assets/mainPage/MINILOGO-24.png"
              alt="miniLogo"
            />
          </div>
          <div><span class="footer-logoName">polandDo.it</span></div>
        </div>
      </a>
    </div>
    <div class="main__footer-section_one margin-t3">
      <div class="section_one-title">
        <h4 class="title_head"><a class="title_head-link">Product</a></h4>
      </div>
      <div class="section_one-list">
        <ul class="list">
          <li class="list_item">
            <a class="list_item-link">Teams</a>
          </li>
          <li class="list_item">
            <a class="list_item-link">Talent</a>
          </li>
          <li class="list_item">
            <a class="list_item-link">Advertising</a>
          </li>
          <li class="list_item">
            <a class="list_item-link">Enterprise</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main__footer-section_two margin-t3">
      <div class="section_two-title">
        <h4 class="title_head"><a class="title_head-link">Company</a></h4>
      </div>
      <div class="section_two-list">
        <ul class="list">
          <li class="list_item">
            <a class="list_item-link">About</a>
          </li>
          <li class="list_item">
            <a class="list_item-link">Press</a>
          </li>
          <li class="list_item">
            <a class="list_item-link">Work Here</a>
          </li>
          <li class="list_item">
            <a class="list_item-link">Privacy Policy</a>
          </li>
          <li class="list_item">
            <a class="list_item-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main__footer-contact_section margin-t3">
      <div class="contact_section-title">
        <h4 class="title_head">Follow us via links</h4>
      </div>
      <div class="contact_section-list">
        <div class="list-item">
          <img
            class="list-itemImg"
            src="../../../../assets/svg/facebook_icon-icons.com_53612.svg"
          />
        </div>
        <div class="list-item">
          <img
            class="list-itemImg"
            src="../../../../assets/svg/github-logo_icon-icons.com_73546.svg"
          />
        </div>
        <div class="list-item">
          <img
            class="list-itemImg"
            src="../../../../assets/svg/google_icon-icons.com_62736.svg"
          />
        </div>
        <div class="list-item">
          <img
            class="list-itemImg"
            src="../../../../assets/svg/linkedin_icon-icons.com_53609.svg"
          />
        </div>
        <div class="list-item">
          <img
            class="list-itemImg"
            src="../../../../assets/svg/Instagram_icon-icons.com_66804.svg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
