<div class="customers__section">
  <div class="customers__section-container">
    <div class="customers__section-title">
      <h2>Who are we working with?</h2>
    </div>
    <div class="customers__section-text">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
        earum, repellat vero dignissimos numquam totam, dolorum magni soluta
        dolor molestiae illo architecto vel nulla tempore blanditiis a atque?
        Repellendus, at!
      </p>
    </div>
    <div class="customers__section-UNKNOWN"></div>
    <div class="customers__section-joinBtn">
      <button mat-stroked-button color="primary">Join</button>
    </div>
  </div>
</div>
