@import "../../../../assets/styles/theme";

h1,
h2,
h3,
h3.page_title {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 300;
}

.main__page {
  width: 100%;
  height: 100%;
}

.vacancies__page {
  width: 100%;
  background-image: url("./../../../../assets/mainPage/BLUE2-10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -210px;
  margin-bottom: 66px;

  &_banner {
    display: flex;
    height: 289px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 25px;
  }

  &_container {
    display: flex;
    justify-content: center;
  }
}
