:root {
  --background: white;
  --eazy-background: white;
  --color: rgb(55, 71, 79);
  --lighter-color: #99a1ab;
  --border-color: #e4e8f0;
  --mod-hover: rgba(56, 79, 90, 0.04);
  --shadow-color: rgba(0, 0, 0, 0.3);
}
